body {
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    text-align: center;
}

header, footer {
    background-color: black;
    color: white;
}

.row {
    margin-top: 20px;
}

#nearby {
    display: none;
}

#geo-position-container {
    display: none;
}

#directionsPanel {
    /*float:right;*/
    width:100%;
}
#map {
    position: relative;
    overflow: hidden;
    height: 400px;
    width: 100%;
}       
